:root{
    --blanco: #FFFFFF;
}

/*Globales*/

.loginPage{
    background: url("../../public/img/backgroundLogin.jpg");
    background: linear-gradient(rgb(11, 11, 11, 0.5), rgb(10, 10, 10, 0.5)), url("../../public/img/backgroundLogin.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: moveBackground 30s linear infinite alternate;
}

@keyframes moveBackground {
    0% {
        background-position: center top;
    }
    100% {
        background-position: center bottom;
    }
}

.loginForm{
    display: flex;
    flex-direction: column;
    background-color: rgba(1, 32, 93, 0.6);
    color: var(--blanco);
    height: auto;
    gap: 1.5rem;
}

/* Posicionamiento del icono de visibilidad de la contraseña */
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.top-50 {
    top: 50%;
}

.end-0 {
    right: 0;
}

.translate-middle-y {
    transform: translateY(-50%);
}

/* Posicionamiento del icono de visibilidad de la contraseña */
.input-group-text:hover {
    background-color: grey;
}